layer1.json filter=lfs diff=lfs merge=lfs -text
layer2.json filter=lfs diff=lfs merge=lfs -text
recipes_with_nutritional_info.json filter=lfs diff=lfs merge=lfs -text
modelbest.ckpt filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
finalized_model.sav filter=lfs diff=lfs merge=lfs -text
layer11_corrected.json filter=lfs diff=lfs merge=lfs -text
randomForestClassifier.sav filter=lfs diff=lfs merge=lfs -text
data/recipe1M+/noEmptyIngredientsOrInstructions/modified_recipes_data.json filter=lfs diff=lfs merge=lfs -text
data/recipe1M+/noEmptyIngredientsOrInstructions/noEmpty(IngredientOrInstruction)Recipes/modified_modified_recipes_data.json filter=lfs diff=lfs merge=lfs -text
modified_recipes_data.json filter=lfs diff=lfs merge=lfs -text
modified_modified_recipes_data.json filter=lfs diff=lfs merge=lfs -text
_pywrap_tensorflow_internal.so filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.6/site-packages/tensorflow_core/python/_pywrap_tensorflow_internal.so filter=lfs diff=lfs merge=lfs -text
file.pt filter=lfs diff=lfs merge=lfs -text
resnet50-19c8e357.pth filter=lfs diff=lfs merge=lfs -text
